<div>
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="companyName">Company Name*:</label>
      <input id="companyName" type="text" formControlName="companyName" />
      <div *ngIf="companyForm['controls']['companyName'].errors?.['maxlength']">
        The maximum length allowed for the company name is 100 characters.
      </div>
      <div *ngIf="companyForm.get('companyName')?.errors?.['pattern']">
        Company name can only include letters, numbers, spaces and special characters (e.g. !#$&()).
      </div>
    </div>
    <div>
      <label for="code">Code*:</label>
      <input id="code" type="text" formControlName="code" />
      <div *ngIf="companyForm.get('code')?.errors?.['maxlength']">
        The maximum length allowed for the code is 10 characters.
      </div>
      <div *ngIf="companyForm.get('code')?.errors?.['pattern']">
        The code only accepts capital letters and numbers.
      </div>
      <div *ngIf="companyForm.get('code')?.hasError('codeExists')">
        Code is already in database.
      </div>
    </div>
    <div>
      <label for="sharePrice">Share Price:</label>
      <input id="sharePrice" type="text" formControlName="sharePrice" />
      <div *ngIf="companyForm.get('sharePrice')?.errors?.['pattern']">
        Share price can only be numeric and include decimal points (up to 5 decimal points).
      </div>
    </div>
    <button type="submit" [disabled]="!companyForm.valid">Save</button>
  </form>
</div>
